.header {
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navlist {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navitem {
    margin: 0;
    padding: 0 30px;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    height: 50px; /* Defina uma altura para o item se necessário */
}

.navitem:hover .dropdown {
    display: block;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 5px;
    margin: 0;
}
.dropdown2 {
    display: none;
    position: absolute;
    top: 100%;
    left: -100px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 5px;
    margin: 0;
}

.dropdown-item {
    padding: 5px 10px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #f0f0f0;
}

.navitem-right {
    position: relative;
    display: flex;
    align-items: center;
}

.navitem-right:hover .dropdown2 {
    display: block;
}
